.alert
    max-width: 100%
    width: max-content
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    gap: 10px
    padding: 10px
    border-radius: 10px
    color: var(--light)
    line-height: 150%

    button
        border: none
        background: none
        padding: 5px
        color: var(--light)
        &:hover
            cursor: pointer

    &.default
        background: var(--primary)

    &.error
        color: var(--error)
        background: #fdeded
