.card
  min-width: 300px
  min-height: 100px
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 15px
  border-radius: 10px

  &:hover
    backdrop-filter: brightness(60%)
    background: #fff

  .title_wrap
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

    h4
      color: var(--card-title-color)
      font-size: 1.5rem
