.button
  height: max-content
  padding: 5px 10px
  border-radius: 5px
  border: unset
  outline: unset
  background: var(--primary)
  color: var(--text-color)
  font-weight: 600
  transition: .2s

  &:hover
    cursor: pointer
    background: var(--primary-hover)
