.board
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 20px

.column
  display: flex
  flex-direction: column
  gap: 10px
  background: var(--task-column-bg)
  padding: 10px
  border-radius: 10px

  &_tasks
    display: flex
    flex-direction: column
    gap: 10px

.task_card
  width: 100%
  padding: 10px
  border-radius: 10px
  background: var(--task-card-bg)

  .title_wrap
    display: flex
    align-items: center
    justify-content: space-between

.taskInfo
  min-width: 80%
  display: flex
  flex-direction: column
  padding: 5px 10px

  &_titleWrap
    display: flex
