$primary-color: var(--primary)
$task-column-bg: var(--task-column-bg)
$task-card-bg: var(--task-card-bg)

.input
  font-size: 1.25rem
  background: unset
  border: none
  padding: 5px
  max-width: 100%
  font-weight: 700
  white-space: nowrap
  overflow-x: auto
  transition: unset
  border-radius: 3px

  &:hover
    cursor: pointer
    background: var(--border-color)
    border-radius: 5px

    &:focus
      outline: 3px solid var(--primary)

      &:hover
        cursor: unset
        background: none
        border-radius: 0

.projectTitle
  display: flex
  align-items: center
  gap: 10px
  padding: 20px 10px
  // background: rgba(0, 0, 0, 0.5)
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px

  &_title
    outline: none
    font-size: 1.75rem
    background: unset
    border: none
    padding: 5px
    max-width: 100%
    color: var(--text-color)
    font-weight: 700
    white-space: nowrap
    overflow-x: auto
    text-align: right

    &:hover
      cursor: pointer
      background: rgba(255, 255, 255, 0.2)
      border-radius: 5px

    &:focus
      outline: 3px solid #333

      &:hover
        cursor: unset
        background: none
        border-radius: 0

.board
  margin-top: 15px
  display: flex
  overflow-x: auto
  padding: 0 15px
  gap: 20px

.createTaskColumn
  min-width: max-content
  padding: 15px
  border-radius: 10px
  background: $task-column-bg
  height: max-content
  transition: .2s

  &_controls
    margin-top: 10px
    display: flex
    align-items: center
    gap: 10px

  &:hover
    cursor: pointer
    background: #f5f5f5

.column
  min-width: 305px
  display: flex
  flex-direction: column
  gap: 10px
  background: $task-column-bg
  padding: 10px
  border-radius: 5px
  box-shadow: var(--task-column-shadow)
  height: max-content

  &Title
    display: flex
    align-items: center
    gap: 10px

    span
      width: 25px
      height: 25px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      font-size: 1.125rem
      color: #fff
      background: $primary-color

  &_tasks
    display: flex
    flex-direction: column

  .createTask_button
    background: none
    border: none
    outline: none
    text-align: left
    font-size: 1rem
    font-weight: 600
    padding: 10px
    border-radius: 5px
    transition: 0.2s

    &:hover
      cursor: pointer
      background: #f5f5f5

.taskCard
  width: 100%
  margin-top: 10px
  padding: 12px
  border-radius: 5px
  background: $task-card-bg
  border: 1px solid var(--border-color)

  input
    border: none
    background: none
    width: 100%
    font-size: 15px

  .titleWrap
    display: flex
    flex-direction: column
    gap: 6px

  &_archiveTaskControls
    margin-top: 10px
    display: flex
    align-items: center
    gap: 10px

    button
      background: unset
      border: unset
      color: var(--link-color)
      text-decoration: underline

      &:hover
        cursor: pointer
        text-decoration: none

.taskInfo
  min-width: 550px
  width: 100%
  display: flex
  flex-direction: column
  padding: 5px 10px

  &_titleWrap
    margin-top: 5px
    display: flex

  &_title
    font-size: 24px
    border: unset
    outline: none
    padding: 5px
    font-weight: 700
    background: none
    width: 100%

    &:focus

  &_layout
    margin-top: 15px
    display: flex
    gap: 20px

  &_content
    width: 70%
    display: flex
    flex-direction: column
    gap: 5px

    p
      padding: 0 5px

      .taskInfo_taskNumber
        font-weight: 700

  &_controls
    width: 30%
    display: flex
    flex-direction: column
    gap: 10px

    &__column
      display: flex
      width: 100%
      flex-direction: column
      gap: 5px

  @media screen and (max-width: 870px)
    min-width: unset
    width: 100%

    &_layout
      flex-direction: column

    &_content
      width: 100%

    &_controls
      width: 100%

  &_info
    list-style: none
    display: flex
    align-items: center
    padding: 0 5px
    gap: 10px

  &_description
    display: flex
    flex-direction: column
    padding: 0 5px
    gap: 15px

    .description
      max-width: 100%

      p
        line-height: 150%

    .editor_controls
      margin-top: 10px
      display: flex
      align-items: center
      gap: 10px

.createTaskForm
  display: flex
  flex-direction: column
  gap: 10px

  label
    display: flex
    flex-direction: column
    gap: 5

.taskArchive
  min-width: 200px

  &_tasks
    display: flex
    flex-direction: column
    gap: 10px
    padding: 10px 0

  &_empty
    text-align: center

.aboutProject
  display: flex
  flex-direction: column
  gap: 10px
  padding: 10px 0
