.navbar
  background: var(--navbar-bg)
  box-shadow: var(--navbar-shadow)
  color: var(--text-color)
  padding: 15px 0

  .logo
    font-size: 1.5rem
    font-weight: 700

  a
    color: var(--nav-link-color)
    text-decoration: none

    &:hover
      text-decoration: underline

  &_content
    display: flex
    align-items: center
    justify-content: space-between

    .left, .right
      display: flex
      align-items: center
      gap: 10px

      .navbar_links
