.home
  margin-top: 15px
  text-align: center

  &_header
    display: flex
    flex-direction: column
    gap: 5px
    margin-bottom: 15px

  .projects
    margin-top: 15px
    display: flex
    align-items: flex-start
    padding: 10px 15px 50px 15px
    overflow-x: auto
    overflow-y: hidden
    gap: 10px

    .card
      width: 300px
      min-width: 300px
      min-height: 100px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 10px
      background: #777
      color: #fff
      transition: .2s

      &:hover
        cursor: pointer
        background: #333

.form
  display: flex
  flex-direction: column
  gap: 10px
  padding-top: 10px

  label
    display: flex
    flex-direction: column
    gap: 5px

    span
      text-align: left

    input
      outline: none
      padding: 5px 5px
      border: 1px solid var(--border-color)
      border-radius: 2px

  .colors
    display: flex
    align-items: center
    gap: 5px

    div
      width: 20%
      height: 25px
      display: flex
      align-items: center
      justify-content: center
      color: #fff

      &:hover
        cursor: pointer

      &.active
        background

.delete_wrap
  display: flex
  flex-direction: column
  gap: 10px

  .buttons
    display: flex
    align-items: center
    gap: 10px

    button
      width: 50%
