.home
  max-width: 1280px
  margin: 25px auto
  padding: 0 20px

  &_header
    display: flex
    flex-direction: column
    gap: 5px
    margin-bottom: 15px

  .projects

    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 10px
    align-items: flex-start
    padding: 10px 0

    .createProjectCard
      width: 100%
      min-height: 100px
      border: none
      background: var(--project-card-bg)
      box-shadow: var(--task-column-shadow)
      border-radius: 10px
      outline: none
      transition: 0.3s

      &:hover
        cursor: pointer
        background: var(--project-card-hover-bg)

    @media screen and (max-width: 1070px)
      grid-template-columns: repeat(3, 1fr)

    @media screen and (max-width: 720px)
      grid-template-columns: repeat(2, 1fr)

    @media screen and (max-width: 500px)
      grid-template-columns: repeat(1, 1fr)

.form
  display: flex
  flex-direction: column
  gap: 10px
  padding-top: 10px

  label
    display: flex
    flex-direction: column
    gap: 5px

    span
      text-align: left
      font-size: 1.25rem

    input
      outline: none
      padding: 5px 5px
      border: 2px solid var(--border-color)
      border-radius: 2px
      background: none
      font-size: 1.15rem

      &:focus
        border: 2px solid var(--primary)

  .colors
    display: flex
    align-items: center
    gap: 5px

    div
      width: 20%
      height: 25px
      display: flex
      align-items: center
      justify-content: center
      color: #fff

      &:hover
        cursor: pointer

      &.active
        background

.delete_wrap
  display: flex
  flex-direction: column
  gap: 10px

  .buttons
    display: flex
    align-items: center
    gap: 10px

    button
      width: 50%
